/* larger.css */

:root{
    --primary-color: #1E3A5F;
    --secondary-color: #fdbf8b;
    --accent1-color: #E76F51;
    --accent2-color: #2A9D8F;
    
    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Lora", sans-serif;
    --nav-font: "Montserrat", sans-serif;

    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--secondary-color);
    --nav-hover-link-color:var(--primary-color);
    --nav-hover-background-color:var(--secondary-color);
}

header {
    max-width: 100%;
    color: none;
    padding: 20px 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.hle {
    width: 100%; 
    text-align: center;
}

.hr {
    width: 100%; 
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family:var(--heading-font);
    color:var(--primary-color);
}

p {
    padding: 25px;
}

#hambutton{
    display: none;
}

ul.navigation, ul.navigation.open {
    display: flex;
    justify-content: center;
    margin-right: 3rem;
}

ul.navigation a:hover{
    background-color: var(--accent2-color);
}

nav {
    margin-top: 1rem;
    font-size: 1.2rem;
    display: flex; 
    justify-content: center;
}

.menu {
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.menu button:hover {
    background-color: var(--secondary-color); 
    color: var(--primary-color);
}

nav li{
    flex: 1 1 auto;

}  

.grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding: 1rem;
    margin: 1rem auto;
    text-align: center;
}

.grid section {
	text-align: center;
}


.grid section > * {
	margin: 0.1rem;
}


.members {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 1rem;
    margin: 1rem auto;
    text-align: center;
}

.list {
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding: 1rem;
    margin: 1rem auto;
    text-align: center;
}

.grid section {
	text-align: center;
}


.grid section > * {
	margin: 0.1rem;
}


.members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 1rem;
    margin: 1rem auto;
    text-align: center;
}


.members section {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.members section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.members section h3 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem;
}

.members section p {
    font-size: 1rem;
    color: var(--primary-color);
}

.members section a {
    font-size: 1rem;
    color: var(--accent1-color);
    text-decoration: none;
    font-weight: bold;
}

.members section a:hover {
    text-decoration: underline;
}

.grid .members {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.list .members {
    display: block;
}

.list .members section {
    max-width: 390px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: var(--primary-color);
    max-width: 100%;
    color: white;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    width: 30%; 
}

.footer-column.left {
    text-align: left; 
}

.footer-column.center {
    display: flex;
    justify-content: center;
    gap: 15px; 
}

.social-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.footer-column.right {
    text-align: right; 
}

.footer-column.left p,
.footer-column.right p {
    margin: 0;
} 


/* 
small.css */

:root{
    --primary-color: #1E3A5F;
    --secondary-color: #fdbf8b;
    --accent1-color: #E76F51;
    --accent2-color: #2A9D8F;
    
    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Lora", sans-serif;
    --nav-font: "Montserrat", sans-serif;

    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--secondary-color);
    --nav-hover-link-color:var(--primary-color);
    --nav-hover-background-color:var(--secondary-color);
}

header {
    max-width: 100%;
    color: none;
    padding: 20px 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.hle {
    width: 100%; 
    text-align: center;
}

.hr {
    width: 100%; 
    text-align: center;
}

nav {
	background-color: var(--nav-background-color);
    border-radius: 1rem;
}

#hambutton::before {
    content: "\2630";
   margin-right: .7rem;
}

#hambutton{
    font-size: 2rem;
    background: none;
    border: none;
    color:#fff;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding:  .25rem 2vw;
}

ul.navigation li a {
    display: block;
    padding: .75rem 2vw;
    color: var(--secondary-color);
    text-decoration: none;
}

li.current-menu-item a{
    background-color: #2A9D8F;
    
}

nav ul{
    list-style-type: none;
}

ul.navigation {
    display: none;
}

ul.navigation.open {
    display: block;
}

#hambutton.open::before {
    content: "x";
    margin-right: 1rem;
}

/* normalize.css */


/* html{
    line-height:1.15;-webkit-text-size-adjust:100%
}

body{
    margin:0
}
    
main{
    display:block
}

h1{
    font-size:2em;margin:.67em 0
}

hr{
    box-sizing:content-box;height:0;overflow:visible
}

pre{
    font-family:monospace,monospace;font-size:1em
}

a{background-color:transparent
}

abbr[title]{
    border-bottom:none;text-decoration:underline;text-decoration:underline dotted
}

b,strong{
    font-weight:bolder
}

code,kbd,samp{
    font-family:monospace,monospace;font-size:1em
}

small{
    font-size:80%
}

sub,sup{
    font-size:75%;line-height:0;position:relative;vertical-align:baseline
}

sub{
    bottom:-.25em
}

sup{
    top:-.5em
}

img{
    border-style:none
}

button,input,optgroup,select,textarea{
    font-family:inherit;font-size:100%;line-height:1.15;margin:0
}

button,input{
    overflow:visible
}

button,select{
    text-transform:none
}

[type=button],[type=reset],[type=submit],button{
    -webkit-appearance:button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
    border-style:none;padding:0

}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{
    outline:1px dotted ButtonText
}

fieldset{
    padding:.35em .75em .625em
}

legend{
    box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal
}

progress{
    vertical-align:baseline
}

textarea{
    overflow:auto
}

[type=checkbox],[type=radio]{
    box-sizing:border-box;padding:0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
    height:auto
}

[type=search]{
    -webkit-appearance:textfield;outline-offset:-2px
}

[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}

::-webkit-file-upload-button{
    -webkit-appearance:button;font:inherit
}

details{
    display:block
}

summary{
    display:list-it
} */
