
:root{
    --primary-color: #1E3A5F;
    --secondary-color: #fdbf8b;
    --accent1-color: #E76F51;
    --accent2-color: #2A9D8F;
    
    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Lora", sans-serif;
    --nav-font: "Montserrat", sans-serif;

    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--secondary-color);
    --nav-hover-link-color:var(--primary-color);
    --nav-hover-background-color:var(--secondary-color);
}

header {
    max-width: 100%;
    color: none;
    padding: 20px 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.hle {
    width: 100%; 
    text-align: center;
}

.hr {
    width: 100%; 
    text-align: center;
}

nav {
	background-color: var(--nav-background-color);
    border-radius: 1rem;
}

#hambutton::before {
    content: "\2630";
   margin-right: .7rem;
}

#hambutton{
    font-size: 2rem;
    background: none;
    border: none;
    color:#fff;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding:  .25rem 2vw;
}

ul.navigation li a {
    display: block;
    padding: .75rem 2vw;
    color: var(--secondary-color);
    text-decoration: none;
}

li.current-menu-item a{
    background-color: #2A9D8F;
    
}

nav ul{
    list-style-type: none;
}

ul.navigation {
    display: none;
}

ul.navigation.open {
    display: block;
}

#hambutton.open::before {
    content: "x";
    margin-right: 1rem;
}