/* base colors #0062ff - #000000 */

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Heather Styles */
header {
  display: grid;
  grid-template-columns: 28px auto 44px;
  align-items: center;
  padding: 5px 0 5px 10px;
  border-bottom: solid 1px #ccc;
  column-gap: 8px;
}

header img {
  display: block;
  width: 100%;
  height: auto;
}

/* hamburger button */
.hamburger {
  border: none;
  background: none;
  color: #0062ff;
  cursor: pointer;
}

.hamburger::before {
  content: "\2630";
  font-size: 2rem;
}

.hamburger.show::before {
  content: "\00D7";
}

/* navigation */
.navigation {
  display: none;
}

.navigation.show {
  display: block;
}
.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navigation a {
  display: block;
  padding: 0.8rem 20px;
  color: #000000;
  border-bottom: solid 1px #ccc;
  text-decoration: none;
}

.navigation li.active {
  background-color: #edecec;
}

.navigation a:hover {
  background-color: #0062ff;
  color: #ffffff;
}

h1 {
  margin-left: 10px;
  font-size: 1.5rem;
}

p {
  margin: 10px;
}

/* footer */
footer {
  text-align: center;
  font-size: 0.8rem;
  border-top: solid 1px #ccc;
  padding: 10px 0;
}

.social {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: #ccc solid 1px;
  border-radius: 50%;
}

.social a:hover {
  border: #0062ff solid 1px;
  border-radius: 50%;;
}

/* container  */

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.division {
  display: grid;
  justify-items: center;
  color: #ccc;
}

.aboutme,
.photo {
  background-color: #edecec;
  margin: 10px;
}

.courses_sec {
  margin: 10px;
}

.photo img {
  width: 90%;
  height: auto;
  margin: 15px;
}

.titles {
  background-color: #0062ff;
  color: #ffffff;
  padding: 5px;
  margin: 0;
  text-align: center;
  font-size: 1.1rem;
}

.filters button {
  background-color: #0062ff;
  color: #ffffff;
  border: none;
  padding: 8px 8px;
  margin-top: 02px;
  cursor: pointer;
  font-size: 0.9rem;
}

.filters {
  text-align: center;
  margin: 2px;
}

.course_cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 5px;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}
